.git
.gitignore
.dockerignore
.eggs
.github
.pylintrc
.travis.yml
.coveragerc
.pre-commit-config.yaml
.DS_Store
.mypy_cache
.ipynb_checkpoints

Dockerfile
Dockerfile.armhf
docker-compose.yml
requirements-dev.txt
playwright_codegen.sh
README.md

*.log

.vscode
.idea
docker/
tests/
.pytest_cache/
.venv/
__pycache__/
